<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
	<div id="body">
		<section class="main-content">
			<%- body %>
		</section>
	</div>
    <div id="footer">
        <footer>
            <p>avdeev &copy; 2015</p>
        </footer>
    </div>
</body>
</html>