<section id="login">
	<ul>
		<li><a href="/register">Регистрация</a></li>
		<li><a href="/login">Войти</a></li>
	</ul>
</section>
<nav>
	<ul id="menu">
		<li> <a href="/">Главная</a></li>
        <li> <a href="/users">Users</a></li>
	</ul>
</nav>